@using System.Web.Optimization
@model PetHouse.MVC.Models.Institucion

@{
    ViewBag.Title = "Editar";
}

@Html.Partial("Helpers/_ViewError")

<div class="col-md-8 col-md-offset-2">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Institución</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="box-body">
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.DireccionId)
                    @Html.HiddenFor(model => model.Domicilio.Id)
                    <div class="form-group">
                        @Html.LabelFor(model => model.Ced_Juridica, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Ced_Juridica, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Ced_Juridica, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Fax, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Fax, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Pag_Web, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Pag_Web, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Pag_Web, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Correo, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Provincia", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Domicilio.ProvinciaId, (SelectList)ViewBag.Provincias, htmlAttributes: new
                            {
                                @class = "form-control",
                                @id = "Id_Provincia"
                            })
                            @Html.ValidationMessageFor(model => model.Domicilio.ProvinciaId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Canton", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Domicilio.CantonId, (SelectList)ViewBag.Cantones, htmlAttributes: new { @class = "form-control", @id = "Id_Canton" })
                            @Html.ValidationMessageFor(model => model.Domicilio.CantonId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Distrito", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.Domicilio.DistritoId, (SelectList)ViewBag.Distritos, htmlAttributes: new { @class = "form-control", @id = "Id_Distrito" })
                            @Html.ValidationMessageFor(model => model.Domicilio.DistritoId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Domicilio.Direccion, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Domicilio.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Domicilio.Direccion, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-default" })
                    <input type="submit" value="Modificar" class="btn btn-success pull-right" />
                </div>
                <!-- /.box-footer -->
            </div>
        }
    </div>
</div>


@Html.Hidden("ListDistritos", Url.Action("ListDistritos"), htmlAttributes: new { @id = "ListDistritos" })
@Html.Hidden("ListCantones", Url.Action("ListCantones"), htmlAttributes: new { @id = "ListCantones" })

@section ViewSpecificJavascript {
    @Scripts.Render("~/Bundles/edit_domicilio")
}