@model PetHouse.MVC.Models.Tratamiento

@{
    ViewBag.Title = "Editar";
}

@Html.Partial("Helpers/_ViewError")

<div class="col-md-8 col-md-offset-2">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Tratamiento</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="box-body">
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.Empleado.Id)
                    @Html.HiddenFor(model => model.EmpleadoId)
                    @Html.HiddenFor(model => model.Expediente.Id)
                    @Html.HiddenFor(model => model.ExpedienteId)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.Fecha, "{0:MM/dd/yyyy}", new { @class = "form-control", id = "Fecha" })
                            @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    @Html.ActionLink("Volver a la lista", "Index", "HomeProcedimiento", null, new { @class = "btn btn-default" })
                    <input type="submit" value="Modificar" class="btn btn-success pull-right" />
                </div>
                <!-- /.box-footer -->
            </div>
        }
    </div>
</div>

@section ViewSpecificJavascript {
    <script type="text/javascript">
        $("#Fecha").datepicker({
            viewMode: 'years',
            format: 'mm/dd/yyyy'
        });
    </script>
}