@model IEnumerable<PetHouse.MVC.Models.Adoptante>

@{
    ViewBag.Title = "Adoptantes";
}

@Html.Partial("Helpers/_ViewError")

<div class="box">
    <div class="box-body">

        <table id="listado" class="table table-bordered table-hover dataTable">
            <thead>
                <tr role="row">
                    <th>
                        @Html.DisplayNameFor(model => model.Identificacion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Primer_Apellido)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Segundo_Apellido)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fecha_Nacimiento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Telefono)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Correo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Mascotas)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Domicilio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Domicilio.Direccion)
                    </th>
                    <th style="text-align: center;">
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Identificacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Primer_Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Segundo_Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha_Nacimiento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Correo)
                    </td>
                    <td>
                        @{
                            item.Mascotas.ToList().ForEach(mascota => mascota.Nombre = mascota.Identificacion + " " + mascota.Nombre);
                            var mascotas = new SelectList(item.Mascotas, "Identificacion", "Nombre");
                            @Html.DropDownListFor(modelItem => item.Mascotas, mascotas)
                        }
                    </td>
                    <td>
                        @{
                            var text = item.Domicilio.Distrito.Canton.Provincia.Nombre + " " + item.Domicilio.Distrito.Canton.Nombre + " " + item.Domicilio.Distrito.Nombre;
                            @Html.DisplayFor(modelItem => text)
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Domicilio.Direccion)
                    </td>
                    <td style="text-align: center; min-width: 110px;">
                        <a href="@Url.Action("Edit", "Adoptante", new { id = item.Identificacion })" class="btn btn-warning">
                            <i class="fa fa-edit"></i>
                        </a>|
                        <a href="@Url.Action("Details", "Adoptante", new { id = item.Identificacion })" class="btn btn-info">
                            <i class="fa fa-search"></i>
                        </a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>