@model IEnumerable<PetHouse.MVC.Models.Empleado>

@{
    ViewBag.Title = "Lista de Empleados";
}

@Html.Partial("Helpers/_ViewError")

<div class="box">
    <div class="box-body">

        <table id="listado" class="table table-bordered table-hover dataTable">
            <thead>
                <tr role="row">
                    <th>
                        @Html.DisplayNameFor(model => model.Identificacion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Primer_Apellido)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Segundo_Apellido)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fecha_Nacimiento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Telefono)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Correo)
                    </th>
                    <th style="text-align: center;">
                        Selecionar
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Identificacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Primer_Apellido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Segundo_Apellido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha_Nacimiento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefono)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Correo)
                        </td>
                        <td style="text-align: center; min-width: 160px;">
                            <a href="@Url.Action("Index", "Rol", new { id = item.Identificacion })" class="btn-success btn btn-block">
                                <i class="fa fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>