@model PetHouse.MVC.Models.Carnet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Carnet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Vacunacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Vacunacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Expediente.Observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Expediente.Observaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vacuna.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vacuna.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
