@using System.Web.Optimization
@using PetHouse.MVC.Models
@model IEnumerable<PetHouse.MVC.Models.Expediente>
@{
    ViewBag.Title = "Tratamientos";
}

@Html.Partial("Helpers/_ViewError")

<div class="col-md-8">
    @Html.Partial("Partials/_Procedimiento")

    <div class="col-md-12">
        @Html.Partial("Partials/_Expediente",Model)
    </div>
</div>

<div class="col-md-4">
    <div class="col-md-12">
        @Html.Partial("Partials/_ShowCarnet")
    </div>
    <div class="col-md-12">
        @*@Html.Partial("Partials/_ViewMascota")*@
    </div>
</div>

@Html.Hidden("url_BusquedaCarnets", Url.Action("Index", "Carnet"), htmlAttributes: new { @id = "url_BusquedaCarnets" })
@Html.Hidden("url_EliminaCarnet", Url.Action("Delete", "Carnet"), htmlAttributes: new { @id = "url_EliminaCarnet" })

@section ViewSpecificJavascript {
    <script>
        var url_BusquedaCarnets = $("#url_BusquedaCarnets").val();
        var url_EliminaCarnet = $("#url_EliminaCarnet").val();
        function SelectedExpediente(ExpedienteId) {
            $("#ExpedienteIdSelected").val(ExpedienteId);
            ObtenerCarnets(ExpedienteId);
        }
    </script>
    @Scripts.Render("~/Bundles/procedimientos")
    @*@Scripts.Render("~/Bundles/detalle_adopcion")*@
}