@using PetHouse.MVC.Models
@using System.Web.Optimization
@model PetHouse.MVC.Models.PanelProcedimientoViewModel

@{
    ViewBag.Title = "Panel Procedimientos";
}


<div class="col-md-12">
    <div class="col-md-8">
        @Html.Partial("Partials/_CreateProcedimiento")
    </div>
    <div class="col-md-4">
        @Html.Partial("Partials/_CreateCarnet")
    </div>
    <div class="col-md-12">
        @Html.Partial("Partials/_CreateTratamiento")
    </div>
</div>

@Html.Hidden("CreateVacuna_Uri", Url.Action("Create", "Carnet"), htmlAttributes: new { @id = "CreateVacuna_Uri" })
@Html.Hidden("CreateProcedimiento_Uri", Url.Action("Create", "Procedimiento"), htmlAttributes: new { @id = "CreateProcedimiento_Uri" })
@Html.Hidden("CreateTratamiento_Uri", Url.Action("Create", "Tratamiento"), htmlAttributes: new { @id = "CreateTratamiento_Uri" })

@section ViewSpecificJavascript {
    @Scripts.Render("~/Bundles/create_todo")
}