@model PetHouse.MVC.Models.Adopcion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Adopcion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Adopcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Adopcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adoptante.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adoptante.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Institucion.Ced_Juridica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Institucion.Ced_Juridica)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
