@using PetHouse.MVC.Models
@using System.Web.Optimization
@model IEnumerable<PetHouse.MVC.Models.Adopcion>
@{
    ViewBag.Title = "Adopciones";
}

@Html.Partial("Helpers/_ViewError")

<div class="col-md-9">
    @Html.Partial("Partials/_Create")

    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title" style="font-family: 'Roboto', sans-serif; color: #6F84FF;">Lista de Adopciones</h3>
            </div>
            <div class="box-body">
                <table id="listado" class="table table-bordered table-hover dataTable">
                    <thead>
                        <tr role="row">
                            <th>
                                @Html.DisplayNameFor(model => model.Institucion.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Adoptante.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Institucion.Ced_Juridica)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Fecha_Adopcion)
                            </th>
                            <th style="text-align: center;">
                                Acciones
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="text-align: center; min-width: 160px;">
                                    <a href="@Url.Action("Edit", "Vacuna", new { id = item.Id })" class="btn btn-warning">
                                        <i class="fa fa-edit"></i>
                                    </a>|
                                    <a href="@Url.Action("Details", "Vacuna", new { id = item.Id })" class="btn btn-info">
                                        <i class="fa fa-search"></i>
                                    </a>|
                                    <a href="@Url.Action("Delete", "Vacuna", new { id = item.Id })" class="btn btn-danger">
                                        <i class="fa fa-eraser"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="col-md-3">
    @*@Html.Partial("SideBars/_Busqueda")
        @Html.Partial("SideBars/_Busqueda")*@
</div>



@section ViewSpecificJavascript {
    @*@Scripts.Render("~/Bundles/buscar_mascota")*@
}











<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Adopcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adoptante.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Institucion.Ced_Juridica)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Adopcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adoptante.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Institucion.Ced_Juridica)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
