@using PetHouse.MVC.Models
@using System.Web.Optimization
@model IEnumerable<PetHouse.MVC.Models.Adopcion>
@{
    ViewBag.Title = "Adopciones";
}

@Html.Partial("Helpers/_ViewError")

<div class="col-md-9">
    @Html.Partial("Partials/_Create")

    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title" style="font-family: 'Roboto', sans-serif; color: #6F84FF;">Lista de Adopciones</h3>
            </div>
            <div class="box-body">
                <table id="listado" class="table table-bordered table-hover dataTable">
                    <thead>
                        <tr role="row">
                            <th>
                                @Html.DisplayNameFor(model => model.Institucion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Adoptante)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Adoptante.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mascota)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mascota.ExpedienteId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Fecha_Adopcion)
                            </th>
                            <th style="text-align: center;">
                                Acciones
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Institucion.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Adoptante.Identificacion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Adoptante.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mascota.Identificacion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mascota.ExpedienteId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Fecha_Adopcion)
                                </td>
                                <td style="text-align: center; min-width: 110px;">
                                    <a href="@Url.Action("Edit", "Adopcion", new { id = item.Id })" class="btn btn-warning">
                                        <i class="fa fa-edit"></i>
                                    </a>|

                                    <button type="button" class="btn btn-info" onclick="CargarInfo(@item.ToString());">
                                        <i class="fa fa-search"></i>
                                    </button>|
                                    <a href="@Url.Action("Delete", "Adopcion", new { id = item.Id })" class="btn btn-danger">
                                        <i class="fa fa-eraser"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="col-md-3">
    <div class="col-md-12">
        @Html.Partial("Partials/_ViewAdoptante")
    </div>
    <div class="col-md-12">
        @Html.Partial("Partials/_ViewMascota")
    </div>
</div>


@section ViewSpecificJavascript {
    @Scripts.Render("~/Bundles/detalle_adopcion")
}