@model IEnumerable<PetHouse.MVC.Models.Vacuna>

@{
    ViewBag.Title = "Vacunas";
}

@Html.Partial("Helpers/_ViewError")

<div class="col-sm-12" style="z-index: 1;">
    @Html.ActionLink("Crear nueva Vacuna", "Create", "Vacuna", null, new { @class = "btn btn-info  pull-right", style = "margin-bottom:15px;" })
</div>

<div class="box">
    <div class="box-body">

        <table id="listado" class="table table-bordered table-hover dataTable">
            <thead>
                <tr role="row">
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Precio)
                    </th>
                    <th style="text-align: center;">
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Precio)
                        </td>
                        <td style="text-align: center; min-width: 160px;">
                            <a href="@Url.Action("Edit", "Vacuna", new { id = item.Id })" class="btn btn-warning">
                                <i class="fa fa-edit"></i>
                            </a>|
                            <a href="@Url.Action("Details", "Vacuna", new { id = item.Id })" class="btn btn-info">
                                <i class="fa fa-search"></i>
                            </a>|
                            <a href="@Url.Action("Delete", "Vacuna", new { id = item.Id })" class="btn btn-danger">
                                <i class="fa fa-eraser"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>